.word {
  display: flex;
}

.letter {
  font-size: 2rem;
  border-bottom: 2px solid black;
  margin: 0 5px;
  min-width: 30px;
  height: 50px;
  display: block;
  text-align: center;
}

.space {
  min-width: 30px;
  display: inline-block;
}

.Gallow {
  width: 30vw;
  border: 1px dotted black;
}
